<div class="container">

    <h1 class="userlist__titlearea">
        <span class="userlist__title">Userlist</span>
        <span class="btn--char">
            ADD USER
        </span>
    </h1>
    <ul class="userlist">
            <li *ngFor="let user of userList"
            class="userlist__item"
            >
            <div class="usericon">
            </div>
            <div class="userinfo">
                <p class="userinfo__ttl">{{ user.name }}</p>
                <p class="userinfo__sub">{{ user.mail }}</p>
            </div>
        </li>
        
    </ul>
</div>